In [1]:
import pandas as pd
from dask import dataframe as ddf

In [18]:
df = pd.read_csv('../data/interim/df3_4.csv')

In [12]:
dt = df.dtypes.to_dict()

In [13]:
dask_df = ddf.read_csv('../data/interim/df3*.csv',dtype=dt)

In [14]:
dask_df.head()

/Users/joshua/anaconda/lib/python2.7/site-packages/dask/dataframe/core.py:3363: UserWarning: Insufficient elements for `head`. 5 elements requested, only 4 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

,Unnamed: 0,index,dates,place_names,tweets,long,lat,clean_tweets,polarity_cl,polarity
0,0,0,2016-10-20 00:56:50.760,NaN,RT @kurteichenwald: My bet: There will be no T...,NaN,NaN,my bet there will be no trump network one yea...,0,2
1,1,1,2016-10-20 00:56:50.739,NaN,RT @jacksfilms: Previously on the presidential...,NaN,NaN,previously on the presidential debate aaaaahh...,2,2
2,2,2,2016-10-20 00:56:50.578,NaN,@meganherrup happy first third and last debate...,NaN,NaN,happy first third and last debate of the last ...,2,2
3,3,3,2016-10-20 00:56:50.854,NaN,RT @StephenKing: Let's see how many times Trum...,NaN,NaN,lets see how many times trump manturrupts her,2,2

In [10]:
len(dask_df)

186911

In [19]:
df

Empty DataFrame
Columns: [Unnamed: 0, index, dates, place_names, tweets, long, lat, clean_tweets, polarity_cl, polarity]
Index: []